.markdown-init {
    background: white;
    padding: 8px 5px;
    font-size: 13px;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}

.markdown-init li {
    list-style: square;
    margin-left: 32px;
}

.markdown-init table {
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-init table tr td, .markdown-init table tr th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px !important;
}

.markdown-init img {
    max-width: 100%;
}

.markdown-init h1, .markdown-init h2, .markdown-init h3, .markdown-init h4, .markdown-init h5 {
    padding-left: 8px;
    font-weight: bold;
    line-height: 2.5em
}

.markdown-init div, p, li {
    line-height: 2.2em;
}

.markdown-init blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #ccc solid;
    background-color: #eee;
}

.markdown-init pre {
    border: 1px solid #ccc;
    display: block;
    overflow-y: auto;
    padding: .5em;
    background: #f8f8f8;
}

.react-markdown-editor {
    border: 1px solid #ccc;
}

.editor-pane {
    overflow: auto;
    padding-right: 1px;
    height: 225px;
}

.editor-pane textarea {
    min-height: 225px;
}

.result-pane {
    height: 225px;
    overflow: scroll;
}
