.section-style {
	border: 1px solid #ececec;
	height: 80px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.section-style:hover {
	overflow: hidden;
	text-overflow: ellipsis;
}

.section-header {
	background-color: #ececec;
	padding-top: 31px;
}

.section-footer {
	background-color: #ececec;
	padding-top: 24px;
}

.section-content {
	padding-top: 22px;
}
